<div class="register-container">
  <mat-card>
    <mat-card-title>Registro</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>Apodo</mat-label>
      <input matInput [(ngModel)]="nickname">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>

    <!--<mat-form-field appearance="fill">
      <mat-label>URL Imagen</mat-label>
      <input matInput [(ngModel)]="imageUrl">
    </mat-form-field>-->

    <div class="image-catalog">
      <p>Selecciona una imagen de perfil:</p>
      <div class="image-options">
        <img 
          *ngFor="let img of imageCatalog" 
          [src]="img" 
          class="avatar-option"
          [class.selected]="img === imageUrl"
          (click)="imageUrl = img"
          alt="Avatar">
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="onRegister()">Registrarse</button>
  </mat-card>
</div>